<ion-content center text-center justify-content-center align-items-center style='height: 100%' class="ion-text-center">
  <ion-title color="primary">
    <h1>HALLO VISITOR</h1>
</ion-title>
  <ion-card >  
  <ion-grid>
    <ion-row>
        <ion-col class="ion-text-center">
            <h2>name is Osama Al-Daja and this is my App to Manage Employee</h2>
            <h4>I am Work the Application using Asp.net core API with Ionic</h4>
            <h3>The App is conenct with Websit by asp.net api</h3>
            
            <ion-button expand="full" (click)="GoToLogIn()" color="tertiary"> GET STARTED </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-card>


</ion-content>

<!--
<ion-tabs preloadTabs="false">
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button (click) = "GoToLogIn()">
      <ion-icon name="log-in"></ion-icon>
    <ion-label>Log In</ion-label>
    </ion-tab-button>

    <ion-tab-button (click) = "GoToHome()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
-->